* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus {
    outline: none;
    }

/* Header */

header {
    width: 100%;
	height: 20vh;
    border: 1px solid black;
    display: flex;
}
li {
    display: flex;
    align-items: center;
    margin-left: 70px;
}
a   {
    text-decoration:none;
    color: black;
}
header .Form {
    display: flex;
    justify-content: flex-end;
    width: 100%;
	height: 5vh;
    margin-right: 50px;
    margin-top: 35px;
}
textarea {
    border-radius: 15px;
    text-align: center;
    resize: none;
}
header .Formu, Form {
    padding: 10px;
}
.Icone {
    width: 100%;
	height: 5vh;
}

/* Panier */

h1{
    padding-top: 15px;
    font-size: 'Playfair Display', serif;
}
.small-container{
    width: 80%;
    margin-left: 100px; 
}
table{
    width: 100%;
    border-collapse: collapse;
    
}
.card-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: black;
    background:#e0cda9;
    font-weight: normal;
    font-size:'Playfair Display', serif;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5xp;
}
td a{
    color: grey;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin-left: 100px;
}
.total-price table{
    border-top: 3px solid burlywood;
    width: 100%;
    max-width: 480px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
td button{
    background-color: #e0cda9;
    border-radius: 5px;
    padding:10px;
    margin: 20px;
}
td button:hover{
    background-color: #d69c2f;

}
.carte{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 740px;
    justify-content: space-between;
    margin-right: 250px;
}
.carte img{
    width: 50px;
    height: 30px;
}

/* Acceuil */

body{
    font-family: 'display fair';
}

#collection{
    height: 150vh;
    margin: 10px;
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr); 
    grid-gap:10px;
    grid-row-gap: 10px;          
}


.box, section img{
    text-align: center;
   font-weight: bold;
    border: 1px solid black;
      
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 80px;     
}

video{
    border: 1px solid black;
}


#collection .box1 { 
    grid-column:2/3; 
    grid-row:2/3 ;
} 

#collection .box2 {
    grid-column: 3/4; 
    grid-row: 2/3;
} 

#collection .box3 {

     grid-column: 2/3;
    grid-row: 3/4;
 } 

#collection .box4 {
    grid-column: 3/4;
    grid-row: 3/4;
 } 

.rect {
    padding: 15px;
}

/* Panier */

h1{
    padding-top: 15px;
    font-size: 'Playfair Display', serif;
    
}
.small-container{
    width: 80%;
    margin-left: 100px; 
}
table{
    width: 100%;
    border-collapse: collapse;

}
.card-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: black;
    background:#e0cda9;
    font-weight: normal;
    font-size:'Playfair Display', serif;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5xp;
}
td a{
    color: grey;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin-left: 100px;
}
.total-price table{
    border-top: 3px solid burlywood;
    width: 100%;
    max-width: 480px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
td button{
    background-color: #e0cda9;
    border-radius: 5px;
    padding:10px;
    margin: 20px;
}
td button:hover{
    background-color: #d69c2f;

}
.carte{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 740px;
    justify-content: space-between;
    margin-right: 170px;
    margin-top: 100px;
}
.carte img{
    width: 50px;
    height: 30px;
}


/* FOOTER */

footer {
    margin-top: 200px;
    width: 100%;
	height: 20vh;
    border: 1px solid black;
    display: flex;
}
.Lab {
    width: 100%;
	height: 10vh;
}
footer .Labels {
    display: flex;
    margin-left: 300px;
    margin-top: 50px;
}

@media (max-width: 700px) {
    header {
        width: 100%;
        height: 75vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .lih {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-top: 10px;
    }
    header .Form {
        align-items: center;
    }
    .NetS {
        height: 40vh
    }

/* Acceuil */

    #collection {
        display: block;
    }
    .box {
        border: none;
    }

/* Footer */

    footer {
    margin-top: 1150px;
    width: 100%;
	height: 45vh;
    border: 1px solid black;
    display: block;
    }
    .lif {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-top: 10px;
    }
    footer .Labels {
        display: flex;
        margin-top: 50px; 
    }
}


/* MENU */
#LeMenu { 
    max-width:1400px; 
    margin:0 auto;
    display:flex;
    justify-content:center;
  }
  #LeMenu > a { 
    padding:5px 10px; 
    margin:0 2px;
    text-decoration:none;
    color:black;
    border:solid 1px black;	
    background: white;
    border-radius:10px;
    text-align:center;
  }
  #LeMenu > a:hover {	
    background:#e2bddc; 
    color: black;	
    border: solid 1px black;
  }
  
  /* bouton menu burger */
  #CmdMenu { 
    position :fixed; 
    top :4px; 
    right :4px; 
    z-index :50;
    padding:5px 8px; 
    color:black;
    background: #e2bddc;
    border-radius:5px;
    cursor:pointer;
  }
  #CmdMenu:hover {	
    background:#e2bddc; 	
    border: solid 1px black;
  }
  
  /* MOBILE FIRST */
  #LeMenu {
    flex-direction:column;
  }
  #CmdMenu { 
    display:block;
  }
  /* TABLET - DESKTOP */
  @media (min-width: 769px) {
    #LeMenu {
      flex-direction:row;
      /*flex-wrap:wrap;*/
    }
    #LeMenu > a {
      display:flex;
      align-items:center;
      border: none;
      /*flex-wrap:wrap;*/
    }
    #CmdMenu { 
      display:none;
    }
  }
  /* TABLET */
  @media (min-width: 769px) and (max-width: 1200px) {
    #LeMenu > a { 
      padding:5px 10px; 
      margin:0 2px;
    }
  }
  /* DESKTOP */
  @media (min-width:1201px) {
    #LeMenu > a { 
      margin:0 5px;
    }
  }

 

@media(max-width: 1150px) {
    .carte{
      flex-direction: row;
      padding: 90px;
      margin-right: 50px;
    }
    h1{
       margin-left: 180px;
    }
}